<!--<h2>Welcome</h2>-->

<!--<button (click)="closeDialog()">-->
<!--  close-->
<!--</button>-->

<div class="content">
<form class="form" [formGroup]="myForm">
  <div class="form_group">
    <label class="form_label">
    </label>
    <input class="form_input" [formControlName]="formControls.image" placeholder="Image:">
    <div *ngIf="isControlValid(formControls.image)">
      <div class="notification">Please provide an image</div>
    </div>
  </div>
  <div class="form_group">
    <label class="form_label">
    </label>
    <input class="form_input" [formControlName]="formControls.postDescr" placeholder="Post description:">
    <div *ngIf="isControlValid(formControls.postDescr)">
      <div class="notification">Please provide post description</div>
    </div>
  </div>
  <button class="post" [disabled]="myForm.invalid" (click)="submitForm()">Post</button>
  <button class="close" (click)="closeDialog()">
    Close
  </button>
</form>
</div>
