<div class="content">
  <form class="form" [formGroup]="myForm">
    <div class="form_group">
      <label class="form_label">
      </label>
      <input type="file"
             id="file"
             [formControlName]="formControls.image"
             (change)="onFileSelected($event)"
             name="image"
             autocomplete="off"
      />
    </div>
    <div class="form_group">
      <label class="form_label">
      </label>
      <input class="form_input" [formControlName]="formControls.postDescr" placeholder="Post description:">
      <div *ngIf="isControlValid(formControls.postDescr)">
        <div class="notification">Please provide post description</div>
      </div>
    </div>
    <button  [ngClass]="{'post': myForm.invalid==false, 'postBlock':myForm.invalid==true}"
             [disabled]="myForm.invalid" (click)="submitForm()">Post</button>
    <button class="close" (click)="closeDialog()">
      Close
    </button>
  </form>
</div>

