.content{
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*height: 100vh;*/
  position: fixed;
  left: 40%;
  top: 40%;
}

.form {
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  /*box-shadow: 0 4px 16px #ccc;*/
  box-shadow: 0 16px 50px #9a9a9a;
  font-family: Roboto;
  background: white;
  margin-top: 5%;
}

.progress{
  height: 5px;
}



.post{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 16px;
  color :#fff ;
  background: #E998F6;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.postBlock{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 16px;
  color :#fff ;
  background: #bfbfbf;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.form_group{
  margin-top: 1%;
}

.form_input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  margin-top: 4%;
  margin-bottom: 6%;
}


.form_label{
  position: absolute;
  top: 0;
  /*z-index: -1;*/
  color: #9e9e9e;
  transition: 0.3s;
}

.close{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 16px;
  color :#fff ;
  background: #bfbfbf;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 50%;
}

.notification{
  margin-top: -4%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  color: #f56868;
}




@media screen and (max-width: 575px) {
  .content{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    position: absolute;
    left: 20%;
    top: 10%;
  }

  .form {
    margin-left: -40%;
    width: 70%;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: Roboto;
    background: white;
  }

  .post{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 16px;
    color :#fff ;
    background: #E998F6;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }

  .form_group{
    position: relative;
    margin-bottom: 32px;
  }

  .form_input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
  }

  .form_label{
    position: absolute;
    top: 0;
    /*z-index: -1;*/
    color: #9e9e9e;
    transition: 0.3s;
  }

  .close{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 16px;
    color :#fff ;
    background: #bfbfbf;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 30%;
  }

  .notification{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #f56868;
  }
}
