<div class="header">
  <nav>
    <img routerLink="/feed" class="headLogo" src="../../assets/img/logo.png" alt="logo"/>
    <p routerLink="/feed" class="logoText">Pix</p>
  </nav>
  <app-search></app-search>
  <ng-container *ngFor="let user of (users | async)">
    <ul class="navlist" *ngIf="userEmail === user?.email">
      <li>
        <nav>
          <a class="feed" routerLink="/feed">Feed</a>
        </nav>
      </li>
      <li>
        <nav>
          <a class="friends" routerLink="/friends">Friends</a>
        </nav>
      </li>
      <li>
        <nav>
          <a class="mypage" routerLink="/profile/{{user?.id}}">My page</a>
        </nav>
      </li>
      <li>
        <button class="logoutButton" (click)="logout()"><img class="logoutIcon" src="../../assets/img/logout.png">
        </button>
      </li>
      <li>
        <a class="menu">
          <button class="menupopup">
            <img class="humburg" src="../../assets/img/menu.png"/>
          </button>
        </a>
        <ul class="menulist">
          <li>
            <nav>
              <a class="menufeed" routerLink="/feed">Feed</a>
            </nav>
          </li>
          <li>
            <nav>
              <a class="menufriends" routerLink="/friends">Friends</a>
            </nav>
          </li>
          <li>
            <nav>
              <a class="menuprofile" routerLink="/profile/{{user?.id}}">My page</a>
            </nav>
          </li>
          <li>
            <nav>
              <a routerLink="#">Settings</a>
            </nav>
          </li>
          <li>
            <button class="logoutBut" (click)="logout()">Logout</button>
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</div>
