<!--<div class="header">-->
<!--  <img class="headLogo" src="../../assets/img/logo.png" alt="logo"/>-->
<!--  <p class="logoText">Pix</p>-->
<!--  <ng-container *ngIf="(user$ | async)">-->
<!--    <ul class="navlist">-->
<!--      <li>-->
<!--        <nav>-->
<!--          <a class="feed" routerLink="/feed">Feed</a>-->
<!--        </nav>-->
<!--      </li>-->
<!--      <li>-->
<!--        <nav>-->
<!--          <a class="friends" routerLink="/friends">Friends</a>-->
<!--        </nav>-->
<!--      </li>-->
<!--      <li>-->
<!--        <nav>-->
<!--          <a class="mypage" routerLink="/profile">My page</a>-->
<!--        </nav>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a class="menu">-->
<!--          <button class="menupopup">-->
<!--            <img class="humburg" src="../../assets/img/menu.png"/>-->
<!--          </button>-->
<!--        </a>-->
<!--        <ul class="menulist">-->
<!--          <li>-->
<!--            <nav>-->
<!--              <a routerLink="#">Settings</a>-->
<!--            </nav>-->
<!--          </li>-->
<!--          <li>-->
<!--            <button class="logoutBut" (click)="logout()">Logout</button>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </ng-container>-->
<!--</div>-->

<div class="header">
  <img class="headLogo" src="../../assets/img/logo.png" alt="logo"/>
  <p class="logoText">Pix</p>
  <ng-container *ngIf="(user$ | async)">
    <ul class="navlist">
      <li>
        <nav>
          <a class="feed" routerLink="/feed">Feed</a>
        </nav>
      </li>
      <li>
        <nav>
          <a class="friends" routerLink="/friends">Friends</a>
        </nav>
      </li>
      <li>
        <nav>
          <a class="mypage" routerLink="/profile">My page</a>
        </nav>
      </li>
      <li>
        <a class="menu">
          <button class="menupopup">
            <img class="humburg" src="../../assets/img/menu.png"/>
          </button>
        </a>
        <ul class="menulist">
          <li>
            <nav>
              <a routerLink="/feed">Feed</a>
            </nav>
          </li>
          <li>
            <nav>
              <a routerLink="/friends">Friends</a>
            </nav>
          </li>
          <li>
            <nav>
              <a routerLink="/profile">My page</a>
            </nav>
          </li>
          <li>
            <nav>
              <a routerLink="#">Settings</a>
            </nav>
          </li>
          <li>
            <button class="logoutBut" (click)="logout()">Logout</button>
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</div>
