<div class="header">
  <img class="headLogo" src="../../assets/img/logo.png" alt="logo"/>
  <p class="logoText">Pix</p>
  <ul class="navlist">
    <li>
      <nav>
      <a class="feed" routerLink="/feed">Feed</a>
      </nav>
    </li>
    <li>
      <nav>
      <a class="friends" routerLink="/friends">Friends</a>
      </nav>
    </li>
    <li>
      <nav>
      <a class="mypage" routerLink="/profile">My page</a>
      </nav>
    </li>
    <li>
      <a class="menu" href="#">
        <button class="menupopup">
        <img class="humburg" src="../../assets/img/menu.png"/>
        </button>
      </a>
      <ul class="menulist">
        <li>
          <button class="logoutBut" (click)="logout()">Logout</button>
        </li>
      </ul>
    </li>
  </ul>
</div>
