.header {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
  background: linear-gradient(90.69deg, #E998F6 -35.79%,
  rgba(233, 152, 246, 0) 100%);}

.headLogo {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 5em;
  top: 0.3em;
}

.logoText{
  position: relative;
  margin-left: 9%;
  margin-top: 2%;
  height: 40px;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 36px;
  line-height: 0;
  color: #000000;
}

.feed{
  position: absolute;
  width: 52px;
  height: 33px;
  left: 67%;
  top: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
}

.friends{
  position: absolute;
  width: 78px;
  height: 33px;
  left: 72.5%;
  top: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
}

.mypage{
  position: absolute;
  width: 100px;
  height: 33px;
  left: 79%;
  top: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
}

.header a{
  color: black;
  text-decoration: none;
}

.navlist{
  display: flex;
  list-style-type: none;

}

.navlist li:hover > ul{
  display: block;

}

.menu{
  position: absolute;
  width: 60px;
  height: 60px;
  margin-left: 84%;
  margin-top: -4.3%;
}

.humburg{
  width: 25px;
  height: 25px;
}

.menupopup{
  border: none;
  background-color: transparent;
  cursor: pointer;

}

.menupopup:hover{
}

.menulist{
  position: absolute;
  width: 110px;
  height: 100px;
  background: white;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 1px;
  left: 1320px;
  top: 80px;
  list-style-type: none;
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
  display: none;
  padding-top: 10px;
}

.logoutBut{
  border: none;
  background-color: transparent;
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
  cursor: pointer;
}

.menulist li{
  margin-bottom: 10px;
}

.menufeed{
  display: none;
}
.menufriends{
  display: none;
}

.menuprofile{
  display: none;
}

@media screen and (max-width: 575px) {
  .header {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90.69deg, #E998F6 -35.79%,
    rgba(233, 152, 246, 0) 100%);}

  .headLogo {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -15%;
  }

  .logoText{
    position: absolute;
    width: 30px;
    height: 40px;
    margin-left: 15%;
    margin-top: 6%;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 28px;
    line-height: 0;
    color: #000000;
  }

  .feed{
    display: none;
  }

  .friends{
    display: none;
  }

  .mypage{
    display: none;
  }

  .header a{
    color: black;
    text-decoration: none;
  }

  .navlist li:hover > ul{
    display: block;
    top: 70px;
  }

  .menu{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 40%;
    top: 50%;

  }

  .humburg{
    width: 20px;
    height: 20px;
  }

  .menupopup{
    border: none;
    background-color: transparent;
    cursor: pointer;

  }

  .menupopup:hover{
  }

  .menulist{
    position: absolute;
    min-width: 90px;
    min-height: 130px;
    background: white;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 1px;
    left: 95%;
    top: -100%;
    transition: all 1s ease 0s;
    list-style-type: none;
    font-family: Roboto;
    font-weight: 100;
    font-size: 16px;
    display: none;
    padding-top: 10px;
    z-index: 1;
  }

  .logoutBut{
    margin-left: -0.4em;
    border: none;
    background-color: transparent;
    font-family: Roboto;
    font-weight: 100;
    font-size: 16px;
    cursor: pointer;
  }

  .menulist li{
    margin-bottom: 5px;
    margin-left: 10%;
  }

  .menufeed{
    display: block;
  }
  .menufriends{
    display: block;
  }

  .menuprofile{
    display: block;
  }

  .hide{
    display: none;
  }

}

