<!--<a href="#">-->
<!--<div class="addButt">-->
<!--    <img class="plusImg" src="../../../assets/img/plus.png"/>-->
<!--</div>-->
<!--</a>-->


<!--<div class="addButt">-->
<!--  <ng-container *ngFor="let post of (posts | async)">-->
<!--    <ng-container *ngIf="post.id">-->
<!--      <button class="button" (click)="addPost()">-->
<!--        <img class="plusImg" src="../../../assets/img/plus.png"/>-->
<!--      </button>-->
<!--    </ng-container>-->
<!--  </ng-container>-->
<!--</div>-->


<!--<div class="addButt">-->
<!--  <button class="button" (click)="addPost()">-->
<!--    <img class="plusImg" src="../../../assets/img/plus.png"/>-->
<!--  </button>-->
<!--</div>-->

<div class="addButt">
  <button class="button" (click)="openDialog()">
    <img class="plusImg" src="../../../assets/img/plus.png"/>
  </button>
</div>




