<div class="content">
  <form class="form" [formGroup]="myForm">
    <div class="form_group">
      <label for="file">Choose new photo:
      </label>
      <input type="file"
             class="filepick"
             id="file"
             [formControlName]="formControls.image"
             (change)="onFileSelected($event)"
             name="image"
             autocomplete="off"
             accept="image/png, image/jpeg"
      />
    </div>
    <progress class="progress" max="100" [value]="progress"></progress>
    <div class="form_group">
      <label class="form_label">
      </label>
      <input class="form_input" [formControlName]="formControls.name" placeholder="Enter new name...">
      <div *ngIf="isControlValid(formControls.name)">
        <div class="notification">Incorrect name!</div>
      </div>
    </div>
    <div class="form_group">
      <label class="form_label">
      </label>
      <input class="form_input" [formControlName]="formControls.status" placeholder="Create a status...">
      <div *ngIf="isControlValid(formControls.status)">
        <div class="notification">Incorrect status!</div>
      </div>
    </div>
  </form>
  <ng-container *ngFor="let user of (users | async)">
  <button class="update_button" *ngIf="user?.email == this.userEmail"
          [ngClass]="{'post': myForm.invalid==false, 'postBlock':myForm.invalid==true}"
          [disabled]="myForm.invalid || progress != '100'"
          (click)="submitForm(user?.id!, user?.name, user?.status, user?.image)">Update</button>
  </ng-container>
</div>
