<div class="container">
  <div class="logo">
    <img class="logoImg" src="assets/img/logo.png"/>
    <p class="logoTxt">Pix</p>
  </div>
  <div class="slogan">
    <p>Share your best moments with friends</p>
  </div>
  <div class="desktopImg">
    <img class="macbook" src="assets/img/macbook.png"/>
  </div>
  <div class="registr">
    <p class="login">Log In</p>
  </div>
  <nav>
    <a routerLink="/profile">
      <div class="gobutt">
        <p class="gotxt">Go!</p>
      </div>
    </a>
  </nav>
</div>

