.container{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(116.71deg, #E998F6 -10%, rgba(233, 152, 246, 0) 98.16%);
}

.logo{
  position: absolute;
  left: 30px;
  top: 20px;
}

.logoImg{
  position: absolute;
  width: 130px;
  height: 130px;
  left: 134px;
  top: 59px;
}

.logoTxt{
  position: absolute;
  left: 270px;
  top: 32px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 55px;
}

.slogan{
  position: absolute;
  /*left: 765px;*/
  /*width: 620px;*/
  left: 12em;
  width: 10em;
  font-family: Roboto;
  font-weight: 100;
  font-size: 64px;
}

.macbook{
  position: absolute;
  width: 50%;
  height: 60%;
  /*left: 700px;*/
  /*top: 285px;*/
  left: 44em;
  top: 17.5em;
}

.registr{
  position: absolute;
  width: 350px;
  height: 350px;
  left: 160px;
  top: 350px;
  background: #FFFFFF;
  border: 0.5px solid #B1B1B1;
  box-sizing: border-box;
  box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.login{
  position: absolute;
  left: 120px;
  top: -20px;
  font-family: Roboto;
  font-weight: 100;
  font-size: 42px;
}

.gobutt{
  position: absolute;
  width: 300px;
  height: 51px;
  left: 185px;
  top: 520px;
  /*background: #E998F6;*/
  background: linear-gradient(-25deg, #E998F6 -50%, rgba(233, 152, 246, 0) 80%);
  border-radius: 15px;
  border-width: 0.1px;
  border-color: #dedade;
  border-bottom: none;
  border-right: none;
  font-family: Roboto;
  font-weight: 100;
  font-size: 24px;
  cursor: pointer;
}

.buttxt{
  position: absolute;
  left: 70px;
  top: -13.5px;
}

.googlogo{
  position: absolute;
  width: 15%;
  left: 0.5em;
  top: 0.13em;
}

/*.gotxt{*/
/*  position: absolute;*/
/*  left: 66px;*/
/*  top: -13px;*/
/*  font-family: Roboto;*/
/*  font-weight: 100;*/
/*  font-size: 24px;*/

/*}*/

/*.reggoogle{*/
/*  position: absolute;*/
/*  width: 70%;*/
/*  top: 10em;*/
/*  left: 3em;*/
/*}*/




