<div class="container" *ngFor="let user of (users | async)">
  <div class="logo">
    <img class="logoImg" src="assets/img/logo.png"/>
    <p class="logoTxt">Pix</p>
  </div>
  <div class="slogan">
    <p>Share your best moments with friends</p>
  </div>
  <div class="desktopImg">
    <img class="macbook" src="assets/img/macbook.png"/>
  </div>
  <div class="registr">
    <p class="login">Log In</p>
    <nav>
      <a routerLink="/feed">
        <button class="gobutt" (click)="login()">
          <img class="googlogo" src="assets/img/googlogo.png">
          <p class="buttxt">Sign in with Google</p>
        </button>
      </a>
    </nav>
  </div>
</div>
