.button{
  position: absolute;
  width: 100px;
  height: 30px;
  left: 27em;
  top: 21em;
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
  background: linear-gradient(135deg, #E998F6 -28.5%, rgba(233, 152, 246, 0) 92.5%);
  border: 0.5px solid #B1B1B1;
  box-sizing: border-box;
  box-shadow: 1px 4px 10px 1px #B1B1B1;
  cursor: pointer;
}

.followup{
  background: linear-gradient(135deg, #BCBEC0 -40%, #FFFFFF 92.5%);}

.unfollow{
  background: linear-gradient(135deg, #E998F6 -40%, rgba(233, 152, 246, 0) 92.5%);
}

@media screen and (max-width: 575px) {
  .button{
    position: absolute;
    width: 75px;
    height: 25px;
    left: 3em;
    top: 15.5em;
    font-family: Roboto;
    font-weight: 100;
    font-size: 15px;
    background: linear-gradient(135deg, #E998F6 -28.5%, rgba(233, 152, 246, 0) 92.5%);
    border: 0.5px solid #B1B1B1;
    box-sizing: border-box;
    box-shadow: 1px 4px 10px 1px #B1B1B1;
  }

  .followup{
    background: linear-gradient(135deg, #BCBEC0 -40%, #FFFFFF 92.5%);}

  .unfollow{
    background: linear-gradient(135deg, #E998F6 -40%, rgba(233, 152, 246, 0) 92.5%);
  }
}
