
<div class="post">
  <img class="postImg" src="../../assets/img/edin.jpg"/>
  <p class="postDescr">Spending time in Edinbrgh</p>
  <div class="like">
    <img class="likeButt" src="../../assets/img/like0.png"/>
    <p class="likeNum">118</p>
  </div>
</div>




<!--<div class="allpost">-->
<!--  <ul class="posts">-->
<!--    <li class="post" *ngFor="let Post of Posts">-->
<!--      <img class="postImg" src="../../assets/img/edin.jpg"/>-->
<!--      <p class="postDescr">{{Post.postDescr}}</p>-->
<!--      <div class="like">-->
<!--        <img class="likeButt" src="../../assets/img/like0.png"/>-->
<!--        <p class="likeNum">{{Post.likeNum}}</p>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->






