.input{
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  border: 0.5px solid #B1B1B1;
  border-radius: 15px;
  outline: none;
}

.addComment{
  margin-left: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  background-color: #E998F6;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
}

.form_group{
  display: flex;
}

.post{
  background-color: #E998F6;
  transition: 1s;
}

.postBlock{
  background-color: #c2c2c2;
  transition: 1s;
}

.content {
  display: flex;
}

.photo {
  flex: 1 1 70%;
  display: flex;
  max-height: 700px;
  max-width: 900px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.all_about {
  flex: 1 1 30%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  min-height: 100%;
}

.information {
  width: 100%;
}

.close_but {
  display: flex;
  width: 100%;
  justify-content: right;
  font-weight: 100;
  font-size: 24px;
  cursor: pointer;
}

.description {
  margin-top: -5%;
  margin-bottom: 20%;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #4F4F4F;
  max-width: 300px;
  overflow-x: hidden;
}

.date {
  font-size: 10px;
  line-height: 14px;
  color: #B1B1B1;
  margin-left: -8%;
}

.comments {
  min-height: 250px;
  width: 100%;
  flex: 1 1 auto;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.viewport {
  background: #FFFFFF;
  overflow-x: hidden;
  flex: 1 1 auto;
  /*margin-left: -10%;*/
}

.viewport::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.viewport::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #E998F6;
}

.viewport::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.comment {
  width: 100%;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.delete{
  border: none;
  background-color: transparent;
  font-weight: 300;
  font-family: Roboto;
  font-size: 12px;
  margin-top: 9%;
  margin-left: -8%;
  cursor: pointer;
}

.delete img{
  width: 20px;
  height: 20px;
}

.logo {
  margin-right: 10px;
  cursor: pointer;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text {
  max-width: 165px;
  overflow: hidden;
  margin-right: 10px;
  flex: 0 0 50%;
  font-weight: 300;
  font-size: 16px;
  color: #4F4F4F;
}
