.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  list-style-type: none;
}

.all{
  position: absolute;
  width: 100%;
  height: 100%;
  top:100px
}

.everyUser{
  margin-bottom: 20px;
  cursor: pointer;
}

.user{
  margin-top: 20px;
}

.form{
  position: absolute;
  top: 15%;
  left: 40%;
}

.imageForm{
  position: absolute;
  top: 30%;
  left: 40%;
}
