<app-header></app-header>
<div class="all">
  <h1 class="subscriptions">Your subscriptions:</h1>
  <div class="container_friends" *ngFor="let user of friendsList">
    <nav>
      <div class="everyUser" routerLink="/profile/{{user?.id}}">
        <img class="avatar" src="{{user?.image!}}"/>
        <div class="name">{{user?.name!}}</div>
      </div>
    </nav>
  </div>
</div>
<div class="container_recomend">
  <h1 class="subscriptions">You may also know:</h1>
  <div class="each_recommended" *ngFor="let user of (users | async)">
    <nav>
      <div class="everyUser" routerLink="/profile/{{user?.id}}">
        <img class="avatar" src="{{user?.image!}}"/>
        <div class="name">{{user?.name!}}</div>
      </div>
    </nav>
  </div>
</div>
<div class="line"></div>
