.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  list-style-type: none;
}

.all{
  position: absolute;
  width: 100%;
  height: 100%;
  top:100px;
  margin-left: 10%;
  margin-top: 2%;
}

.everyUser{
  position: relative;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 100;
  font-size: 180%;
  margin-bottom: 10%;
}

.avatar{
  width: 25%;
  height: 25%;
  border-radius: 50%;

}

.name{
  position: absolute;
  margin-left: 30%;
  margin-top: -16%;
}

.user{
  margin-top: 20px;
}

.form{
  position: absolute;
  top: 15%;
  left: 40%;
}

.imageForm{
  position: absolute;
  top: 30%;
  left: 40%;
}

@media screen and (max-width: 575px) {
  .everyUser{
    margin-bottom: 60%;
  }

  .name{
    width: 300px;
    margin-left: 90%;
    margin-top: -50%;
  }

  .avatar{
    width: 70%;
    height: 70%;
  }

}
