.allpost{
  position: absolute;
  left: 15em;
  top: 35em;

}

.posts{
  display: grid;
  /*grid-template-columns: 300px 300px 300px;*/
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  list-style-type: none;
}


.post{
  /*position: absolute;*/
  width: 300px;
  height: 385px;
  /*left: 15em;*/
  /*top: 36em;*/
  border: 0.5px solid #B1B1B1;
  box-sizing: border-box;
  box-shadow: 2px 5px 10px 3px #B1B1B1;
}


.postImg{
  position: absolute;
  width: 299px;
  height: 299px;

}

.postDescr{
  position: absolute;
  width: 180px;
  height: 38px;
  margin-left: 3em;
  margin-top: 22em;
  padding-bottom: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;

  color: #000000;
}

.likeButt{
  position: absolute;
  width: 30px;
  height: 24px;
  margin-left: 15.5em;
  margin-top: 19.8em;
}

.likeNum{
  position: absolute;
  width: 30px;
  height: 22px;
  margin-left: 15.5em;
  margin-top: 21.5em;
  font-family: 'Roboto';
}




