<!--<div class="allpost">-->
<!--  <ul class="posts">-->
<!--    <li class="post" *ngFor="let post of posts">-->
<!--      <img class="postImg" src="{{post.image}}"/>-->
<!--      <p class="postDescr">{{post.postDescr}}</p>-->
<!--      <div class="like">-->
<!--        <img class="likeButt" src="../../../assets/img/like0.png"/>-->
<!--        <p class="likeNum">{{post.likeNum}}</p>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<div class="allpost">
  <ul class="posts">
    <li class="post" *ngFor="let post of (posts | async)">
      <img class="postImg" src="{{post.image}}"/>
      <p class="postDescr">{{post.postDescr}}</p>
      <div class="like">
        <img class="likeButt" src="../../../assets/img/like0.png"/>
        <p class="likeNum">{{post.likeNum}}</p>
      </div>
    </li>
  </ul>
</div>





