<!--<app-header></app-header>-->
<!--<div class="container">-->
<!--  <div class="allpost">-->
<!--    <ul class="posts">-->
<!--      <li class="post" *ngFor="let post of feedPosts">-->
<!--        <img class="postImg" src="{{post.image}}" (click)="openPostModal(post.image, post.postDescr, post.likes.length, post.id)" />-->
<!--        <p class="postDescr">{{post.postDescr}}</p>-->
<!--        <div class="like" *ngIf="userId">-->
<!--          <button class="liketogg" (click)="updateLikes(post.id)">-->
<!--            <img class="likeButt"-->
<!--                 src="{{!post.likes.includes(userId) ? '../../../assets/img/like0.png': '../../../assets/img/like.png'}}">-->
<!--          </button>-->
<!--          <p class="likeNum">{{post.likes.length}}</p>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->


<app-header></app-header>
<div class="container">
  <div class="allpost">
    <ul class="posts">
      <li class="post" *ngFor="let post of feedPosts">
        <img class="postImg" src="{{post.image}}" (click)="openPostModal(post.image, post.postDescr, post.likes, post.id)" />
        <p class="postDescr">{{post.postDescr}}</p>
        <div class="like" *ngIf="userId">
          <button class="liketogg" (click)="updateLikes(post.id)">
            <img class="likeButt"
                 src="{{!post.likes.includes(userId) ? '../../../assets/img/like0.png': '../../../assets/img/like.png'}}">
          </button>
          <p class="likeNum">{{post.likes.length}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
